$font-family-normal: 'Inter', sans-serif;
$font-size-base: 14px;

$queue-playlist-width: 320px;
$top-height: 70px;

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

$player-height: 90px;
