@import 'variables';
@import 'include-media';
@import 'others';
@import 'themes';
@import 'player.scss';

body {
  font-family: $font-family-normal;
}

body {
  background: var(--background);
  color: var(--text-primary);
}

i.icon {
  font-family: 'zing-mp3';
  display: flex;
}

.btn {
  cursor: pointer;
  text-align: center;
  user-select: none;
  outline: none;
  border: none;
  position: relative;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: 10px;
  &.rounded {
    border-radius: 100%;
  }
  color: var(--text-secondary);
  background: var(--alpha-bg);
  &.is-active {
    background: var(--primary) !important;
    color: #fff;
  }
  &.zing {
    background: var(--primary) !important;
    color: #fff;
    border-radius: 999px;
    padding: 10px 25px;
    span {
      line-height: 1.2;
    }
  }
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex !important;
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--text-secondary);
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ps__rail-y {
  z-index: 1111;
}
